@font-face {
    font-family: Meow Script;
    src: url('/fonts/MeowScript-Regular.ttf');
}

body {
    background-color: lch(95% 40 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lch(40% 132 0);
}

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main img {
    width: 90vw;
    max-width: 960px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

h1 {
    font-size: clamp(48px, 8vw, 128px);
    line-height: 0.9em;
    font-family: Meow Script;
    text-align: center;
}